img {
    width: 250px;
}
input {
    text-align: center;
    background-color: aquamarine;
    color: black;
    font-size: large;

}
button:hover{
    transform: scale(105%);
    background-color: aquamarine;
}